<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- start basic args -->
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="config" default="baseline" />
	<arg name="param_file_name" default="default" />
	<arg name="apriltags_param_file_name" default="$(arg param_file_name)" />
	<arg name="local" default="false"/>	
	<!-- end basic args -->

<!-- general convention on remappings is that we remap the "subscribers" -->

	<!-- start switch args -->
	<arg name="camera" default="true"/>
	<arg name="/camera/raw" default="true"/>
	<arg name="/camera/cam_info" default="true"/>
	<arg name="/camera/raw/rect" default="true"/>
	<arg name="apriltags" default="true"/>
	<arg name="following" default="false"/>
	<!-- end switch args -->

	<!-- Start Camera -->  
	<group if="$(arg camera)">
		<include  file="$(find pi_camera)/launch/camera_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="config" value="$(arg config)"/>
			<arg name="param_file_name" value="$(arg param_file_name)"/>
		</include>
	</group>

    <!-- decoder_node -->
    <group if="$(arg /camera/raw)">
        <remap from="decoder_node/compressed_image" to="camera_node/image/compressed"/>
        <remap from="decoder_node/image/raw" to="camera_node/image/raw"/>
        <include file="$(find pi_camera)/launch/decoder_node.launch">
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>
        </include>
    </group>
    
    <!-- cam_info_reader_node -->
    <group if="$(arg /camera/cam_info)">
        <remap from="cam_info_reader_node/camera_info" to="camera_node/camera_info"/>
        <remap from="cam_info_reader_node/compressed_image" to="camera_node/image/compressed"/>
        <include file="$(find pi_camera)/launch/cam_info_reader_node.launch"> 
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>            
        </include>

        <group if="$(arg /camera/raw)">
            <remap from="raw_cam_info_reader_node/camera_info" to="camera_node/raw_camera_info"/>
            <remap from="raw_cam_info_reader_node/compressed_image" to="camera_node/image/raw"/>
            <include file="$(find pi_camera)/launch/cam_info_reader_node.launch">
                <arg name="veh" value="$(arg veh)"/>
                <arg name="local" value="$(arg local)"/>
                <arg name="config" value="$(arg config)"/>
                <arg name="param_file_name" value="$(arg param_file_name)"/>
                <arg name="node_name" value="raw_cam_info_reader_node" />
                <arg name="image_type" value="raw" />
            </include>

            <!-- Rectification -->
            <group if="$(arg /camera/raw/rect)">
                <remap from="image_raw" to="camera_node/image/raw"/>
                <remap from="camera_info" to="camera_node/raw_camera_info"/>
                <remap from="image_rect_color" to="camera_node/image/rect" />
                <include file="$(find pi_camera)/launch/image_proc_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="local" value="$(arg local)"/>
                </include>
            </group>
        </group>
    </group>
	<!-- End Camera -->

	<!-- ============================ PART 1 ============================== -->

	<!-- Start April Tags -->
	<group if="$(arg apriltags)">
		<!-- AprilTags Detections -->
		<remap from="image_rect" to="camera_node/image/rect" />
		<remap from="compressed" to="camera_node/image/compressed" />
		<remap from="camera_node/image/camera_info" to="camera_node/raw_camera_info" />
		<include file="$(find apriltags_ros)/launch/apriltag_detector_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
			<arg name="param_file_name" value="$(arg param_file_name)"/>
		</include>
		<!-- Postprocessing node -->
		<remap from="detect_apriltags_node/tag_info" to="tag_detections" />
		<include file="$(find csp_demo_apriltags)/launch/detect_apriltags_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
		</include>
	</group>
	<!--End Apriltags -->

	<!-- ============================ PART 2 ============================== -->

	<!-- Start Following -->
	<group if="$(arg following)">
		<!-- Follow apriltags node -->
		<remap from="follow_apriltags_node/position_info" to="detect_apriltags_node/position_info" />
		<include file="$(find csp_demo_apriltags)/launch/follow_apriltags_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
		</include>

	    <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
		<remap from="inverse_kinematics_node/car_cmd" to="follow_apriltags_node/car_cmd"/>
		<include file="$(find dagu_car)/launch/inverse_kinematics_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>

		<!-- Wheel Driver -->
		<include file="$(find dagu_car)/launch/wheels_driver_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>
	</group>

</launch>